@mixin gradient-bg($direction, $color-list) {
  background-image: linear-gradient($direction, map-values($color-list));
}

@function get-color($key) {
  @return map-get($colors-palette, $key);
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width+1px}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin normal {
  @media (min-width: #{$mobile-width+1px}) {
    @content;
  }
}
@mixin custom($width) {
  @media (min-width: $width) {
    @content;
  }
}
